@import "./styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
}

body {
  margin: 0 auto;
  max-width: 1536px;
  padding: 0 0 40px 0;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#title {
  font-size: 56px;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    font-size: 48px;
  }
}

.search-result {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .card {
    margin: 20px;
  }
}

.preview-card {
  width: 90%;
  max-width: 1000px;
  max-height: 500px;
  display: flex;
  flex-direction: row;

  .card-content {
    width: 100%;
    padding: 25px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
  }

  .card-image {
    width: 500px;
    height: 500px;
    aspect-ratio: 1 / 1;
  }

  .card-character-icons {
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    overflow-y: scroll;
  }

  @media (max-width: 1000px) {
    flex-direction: column;
    max-width: 400px;
    max-height: 90%;
    overflow-y: scroll !important;

    .card-content {
      overflow-y: visible;
    }

  .card-image {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

    .card-character-icons {
      overflow-y: visible;
      order: 1;
    }
  }
}
